*{
    margin: 3px; margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-color: black;
}
.item{
    width: 25px;
    height: 25px;
    background-color: blueviolet;
    border-radius: 3px;
    color: aquamarine;
    text-align: center;
    padding: 30px;
    font:size 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aquamarine
    ;


